# Aquí se pondrá todo lo que tiene que ver con el *dataset* conseguido de la página *Kaggle* el dataset se consiguió [Aquí](https://www.kaggle.com/datasets/reihanenamdari/breast-cancer)

Temas que se deben tratar

Cosas que deben ir en el vídeo:
1. Gráficos de dispersión de barras univariados y bivariados.
2. Gráficos de dispersión.
3. Histogramas.
4. Media o promedio.
5. Mediana.
6. Desviación estándar.
7. Percentiles.
8. Boxplot.
9. Teorema central del límite.
10. Intervalos de confianza para la media.
11. Margen de error en la estimación de la media.

# Preguntas para formular
## ¿Cual es la edad mas recurrente en donde se presenta cancer de mama?
## ¿En que rango de edades es mas probable la superacion del cancer y en cuales es menos probable?
##

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('Kaggle/Breast_Cancer.csv', delimiter=',', encoding='unicode_escape')
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [4]:
df.describe()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,14.357107,4.158052,71.297962
std,8.963134,21.119696,8.099675,5.109331,22.921430
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,9.000000,1.000000,56.000000
50%,54.000000,25.000000,14.000000,2.000000,73.000000
75%,61.000000,38.000000,19.000000,5.000000,90.000000
max,69.000000,140.000000,61.000000,46.000000,107.000000

In [6]:
df.columns

Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [ ]:
print("Danna")

In [3]:
df[(df["Age"] == 46) &(df["Race"] == "White")]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
11,46,White,Married,T3,N1,IIIA,Poorly differentiated,3,Regional,59,Negative,Negative,11,3,92,Alive
27,46,White,Married,T1,N1,IIA,Well differentiated,1,Regional,17,Positive,Positive,14,1,82,Alive
65,46,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,15,Positive,Positive,5,1,106,Alive
85,46,White,Married,T2,N3,IIIC,Poorly differentiated,3,Regional,40,Negative,Negative,12,11,71,Alive
112,46,White,Single,T2,N3,IIIC,Moderately differentiated,2,Regional,50,Positive,Positive,34,10,74,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3817,46,White,Single,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,8,3,49,Alive
3928,46,White,Single,T2,N1,IIB,Well differentiated,1,Regional,21,Positive,Positive,7,1,76,Dead
3932,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Positive,20,1,53,Alive
4017,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,28,Negative,Negative,2,1,19,Dead
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [55]:
r1 = df.loc[:,["Age", "Status"]]

# Primer rango 30 - 40 años
r1v  = r1[(r1["Age"]< 40) & (r1["Status"] == "Alive")].count(axis = 0)
r1v = r1v["Age"]
r1m = r1[(r1["Age"]< 40) & (r1["Status"] == "Dead")].count(axis = 0)
r1m = r1m["Age"]

# Segundo rango 40 - 50 años
r2v  = r1[(r1["Age"]< 50) & (r1["Age"]>=40) & (r1["Status"] == "Alive")].count(axis = 0)
r2v = r2v["Age"]

r2m = r1[(r1["Age"]< 50) & (r1["Age"]>=40) & (r1["Status"] == "Dead")].count(axis = 0)
r2m = r2m["Age"]

# Tercer rango 50 - 60 años
r3v  = r1[(r1["Age"]< 60) & (r1["Age"]>=50) & (r1["Status"] == "Alive")].count(axis = 0)
r3v = r3v["Age"]

r3m = r1[(r1["Age"]< 60) & (r1["Age"]>=50) & (r1["Status"] == "Dead")].count(axis = 0)
r3m = r3m["Age"]

# Cuarto rango 60 - 70 años
r4v  = r1[(r1["Age"]< 70) & (r1["Age"]>=60) & (r1["Status"] == "Alive")].count(axis = 0)
r4v = r4v["Age"]

r4m = r1[(r1["Age"]< 70) & (r1["Age"]>=60) & (r1["Status"] == "Dead")].count(axis = 0)
r4m = r4m["Age"]

print(r2v)

988

In [57]:
rangos = {
    "Rangos" : ["De 30-40 años","De 40-50 años","De 50-60 años","De 60-70 años"],
    "Vivos" : [r1v,r2v,r3v,r4v],
    "Muertos" : [r1m,r2m,r3m,r4m]
}

dr = pd.DataFrame(rangos)
dr

          Rangos  Vivos  Muertos
0  De 30-40 años    183       47
1  De 40-50 años    988      136
2  De 50-60 años   1201      189
3  De 60-70 años   1036      244

In [ ]:
print('Cambio')